<div class="tabbable tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">客户资料</a></li>
    <li><a href="#2" data-toggle="tab">贷款记录</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="1">

    </div>
    <div class="tab-pane" id="2">

    </div>
  </div>
</div>