<div>
	<div class="page-header">
		<h3>通知列表</h3>
	</div>

	<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>
					<h5>客户姓名</h5>
				</th>
			</tr>
		</thead>
	  <tbody>
			<%= render @notices %>
	  </tbody>
	</table>
</div>