<div class="accordion" id="accordion2">
	<% @custloans.each do |t| %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=t.id%>">
					贷款记录 #<%=t.begin_date%>
				</a>
			</div>
			<div id="collapse<%=t.id%>" class="collapse in" <% if @custloans.first.id == t.id %>style="height: auto;"<% else %>style="height: 0px;"<% end %>>
				<div class="accordion-inner">
					<%= render :partial => 'custloans/custloan', :locals => { :object => cust_loan(t.id) } %>
				</div>
			</div>
		</div>
	<% end %>
</div>