<div class="span6">
	<div class="well well-small">
		<h3><p class="lead text-info text-center"><%= link_to '存量客户', custs_path %></p></h3>
		<table class="table table-condensed table-striped table-bordered">
			<thead>
				<tr>
					<th>
						<h5>客户姓名</h5>
					</th>
					<th>
						<h5>联系电话</h5>
					</th>
					<th>
						<h5>公司名称</h5>
					</th>
				</tr>
			</thead>
		  <tbody>
			<% if !@custs.nil? %>
				<% @custs.each do |c| %>
					<tr>
						<td><%= link_to c.fullname, cust_path(c) %></td>
						<td><%= c.phone %></td>
						<td><%= c.company %></td>
					</tr>
				<% end %>
			<% end %>
		  </tbody>
		</table>
	</div>
</div>

