<div class="page-header">
	<h3>客户列表</h3>
</div>

<table class="table table-condensed table-striped table-bordered">
	<thead>
		<tr>
			<th>
				<h4>客户姓名</h4>
			</th>
			<th>
				<h4>联系电话</h4>
			</th>
			<th>
				<h4>公司名称</h4>
			</th>
			<th>
				<h4>办公地址</h4>
			</th>
			<th>
				<h4>公司性质</h4>
			</th>
			<th>
				<h4></h4>
			</th>
		</tr>
	</thead>
  <tbody>
	<%= render @custs %>
  </tbody>
</table>

<%= will_paginate @custs, previous_label: h("<"), next_label: h(">") %>

<% if user_type(current_user) != 2 %>
	<%= link_to '新客户登记', new_cust_path, :class => 'btn' %>
<% end %>