<tr>
	<td><%= link_to user.name, user_path(user) %></td>
	<td><%= user.usercode %></td>
	<td><%= get_dict_by_id(user.usertype).name %></td>
	<% if current_user.admin? %>
	<td>
		<%= link_to "删除", user_path(user), :method => :delete, :confirm => '确认删除该用户?', 
										   :class => 'btn btn-mini btn-danger' %>
	</td>
	<% end %>
</tr>