<!-- <div class="page-header">
	<h1>帮助</h1>
</div> -->
<div class="hero-unit">
	<strong>常见问题:</strong>
	<p>
		Q: 有从未办过贷款的新客户如何操作？ A: 贷前人员可以在客户-新建客户功能中添加新客户，再对其开始业务流程。<br/>
		Q: 如何办理贷款业务？ A: 选择客户-新建信贷流程，按操作提示完成内容填写。<br/>
		Q: 结束贷前流程的客户如何移交？ A: 在贷前流程第10步，选择移交对象的贷后人员，待其通过后完成客户移交。<br/>
		Q: 如何查看其他业务员的客户？ A: 由管理员在 客户-分配 功能中，选择客户所属的业务员。或在用户管理-下级用户中，将客户所属的业务员账号分配为该人员的下级。
	</p>
</div>