<% if signed_in? %>
	<!-- <div class="hero-unit">
		<div class="page-header" data-spy="scroll">
		<h1>欢迎您, current_user.name </h1>
		</div>
	</div> -->
	<div class="mini-layout">
		<div class="row-fluid">
			<%= render :partial => 'custs/mycusts', :locals => { :object => user_custs(current_user) } %>
			<%= render :partial => 'custs/myloans', :locals => { :object => user_loans(current_user) } %>
		</div>
		<%= render :partial => 'notices/notice', :locals => { :object => user_notices(current_user) } %>
	</div>
<% else %>
<!-- <div class="well"> -->
	<%= render 'sessions/signin' %>
<!-- </div> -->
<% end %>