<div class="page-header">
  <h1>步骤5. 银行审批结果</h1>
</div>
<%= simple_form_for @custloan,:url => wizard_path, :method => :put, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
		<%= render 'five_fields', :f => f %>
	<div class="form-actions">
		<%= link_to '上一步', previous_wizard_path, :class => 'btn' %>
		<%= f.submit '确认', :class => 'btn btn-primary' %>
	</div>
  </fieldset>
<% end %>