<div class="page-header">
  <h1>步骤1. 初步可行性</h1>
</div>
<%= simple_form_for @custloan, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
	<%= render 'custloans/fields', :f => f %>
	<div class="form-actions">
		<%= f.submit '下一步', :class => 'btn btn-primary' %>
		<%= link_to '跳过', next_wizard_path %>
	</div>
  </fieldset>
<% end %>