<div class="page-header">
  <h1>完成. 贷后客户交接</h1>
</div>
<%= simple_form_for @custloan,:url => wizard_path, :method => :put, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
  	<%= render 'ten_fields', :f => f %>
	<div class="form-actions">
		<%= link_to '上一步', previous_wizard_path, :class => 'btn' %>
		<%= f.submit '提交', :class => 'btn btn-primary' %>
	</div>
  </fieldset>
<% end %>