<!-- <div data-spy="affix" data-offset-top="200"> -->
	<div class="well">
		<h3>注意：</h3>
		<ol>
		  <li>确定各银行的审批时间，保持与银行客户经理的沟通；</li>
			<li>若出批复有条件，及时与客户协调银行要求；</li>
			<li>补充条件完成后，及时交至银行，并与银行随时保持沟通；</li>
		</ol>
	</div>
<!-- </div> -->