<div data-spy="affix" >
	<div class="well">
		<h3>注意：</h3>
		<ol>
		  <li>客户夫妻双方征信是否正常；</li>
			<li>客户企业征信是否正常；</li>
			<li>客户目前负债情况；</li>
			<li>客户预抵押房产是否有抵押；</li>
			<li>客户房产之前贷款情况；</li>
		</ol>
	</div>
</div>