<!-- <div data-spy="affix" data-offset-top="200"> -->
	<div class="well">
		<h3>注意：</h3>
		<ol>
		  <li>在签订银行借款合同，带我司VIP合同至客户处一并签订；</li>
			<li>签订银行借款合同时需借款人夫妻双方共同签订。</li>
			<li>我司VIP合同签署前需由总经理确认收费标准及年限</li>
		</ol>
	</div>
<!-- </div> -->