<!-- <div data-spy="affix"> -->
	<div class="well">
		<h3>注意：</h3>
		<ol>
		  <li>提前做好客户与银行之间时间协调工作；</li>
			<li>陪同银行至客户处上门调查；</li>
			<li>做好银行与客户沟通的中间衔接工作；</li>
			<li>记录下银行与客户沟通的主要谈话内容；</li>
		</ol>
	</div>
<!-- </div> -->
