<div class="well">
	<h3>帮助：</h3>
	<div class="accordion" id="accordion4">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse1">
				1.招商银行—生意贷
				</a>
			</div>
			<div id="collapse1" class="collapse">
				<div class="accordion-inner">
					<ol>
						<li>借款人、抵押人及其配偶的身份证、结婚证和户口簿。
						<li>抵押物产权证（抵押物为商铺或办公楼需提供购入发票）
						<li>借款人收入资料：收入证明、连续三个月个人银行流水
						<li>其他财力证明：其他房产证、购房合同/租金流水/定、活期存款/股票市值、车辆登记证等财力资料（按照实际情况提供）
						<li>营业执照（注册地为上海，成立两年以上）
						<li>组织机构代码证、验资报告、公司章程、税务登记证、信用机构代码证（若有）
						<li>公司办公场所租赁协议或房产证
						<li>公司近3个月流水，上下游合作企业合作证明（包括增票、合同、发货单等均可）（如有）
						<li>用途资料：提供当前有效的、与上游企业的购货合作协议（合同金额不低于借款金额）
					</ol>
				</div>
			</div>
			
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse2">
				2.招商银行—信用贷
				</a>
			</div>
			<div id="collapse2" class="collapse">
				<div class="accordion-inner">
					<ol>
						<li>身份证原件及正反面复印件（借款人及其配偶）				
						<li>户口本原件及整本复印（借款人及其配偶）				
						<li>婚姻证明原件及整本复印（借款人及其配偶）含，结婚证、离婚证或未婚声明				
						<li>营业执照原件及复印件				
						<li>组织机构代码证原件及复印件（个体工商户无需提供）				
						<li>公司章程复印件或工商登记信息查询结果（必须包括股东名单；个体工商户无需提供）				
						<li>上海自有产权房产证（住房或商铺）原件及复印件；若为期房，则提供住房/商铺的房产购买合同、购入时的全额发票或银行借款合同				
						<li>经营场所证明（如租赁合同等）				
						<li>个人资产证明：				
								①借款人/配偶/营业实体近三个月的银行对账单（加盖银行业务章，须有借款人名字，卡号等要素信息）			
								②存单、股票市值单等金融资产证明材料（须有借款人名字，期限等要素信息）			
						<li>若公司成立时间未满3年，需提供借款人之前有相应从业经验地方出具的营业执照复印件及股东会决议，证明本人在此行业内作为股东身份，经营满3年。				
						<li>贷款用途证明材料（购销合同、采购订单、发票等之一）
					</ol>
				</div>
			</div>
		
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse3">
				3.渤海银行—企业贷款
				</a>
			</div>
			<div id="collapse3" class="collapse">
				<div class="accordion-inner">
					<ol>
						<li>商行政管理部门颁发的营业执照正副本（并经最新工商年检）；外商投资企业批准证书（适用外商投资企业）；				
						<li>董事会/股东会/执行董事决议或授权书和董事会成员名单及签字样本；				
						<li>法定代表人证明书；				
						<li>最新公司章程；				
						<li>组织机构代码证；				
						<li>税务登记证（国、地税）；				
						<li>最新验资报告；				
						<li>法定代表人/担保人的有效身份证件（包括身份证、户口本，外籍人员护照（如有）；				
						<li>人民银行贷款卡（经最新人行年检）；				
						<li>办公、生产、仓库最近6个月/1年租用合约/购买合同/产权证，和最近一期租金支付凭证；				
						<li>特殊行业生产经营许可证或企业资质等级证书（如有）；				
						<li>最近两年及最近一期的财务报表（申请额超过500万的，上一年财务报告须经审计）；				
						<li>企业连续近3个月主要往来银行账户资料；				
						<li>抵押物评估报告/预评估报告；				
						<li>抵押物权属证明；				
						<li>国有资产管理部门、海关监管部门同意抵押的文件（指划拨土地）；				
						<li>抵押人婚姻证明文件（抵押物为个人房产的）；				
						<li>同意抵押的董事会决议（抵押物属于第三方法人）/同意抵押的承诺函（抵押物属于个人）。				
						<li>承租人承诺书（若抵押物已出租）
					</ol>
				</div>
			</div>

			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse4">
				4.稠州银行—信用担保贷款
				</a>
			</div>
			<div id="collapse4" class="collapse">
				<div class="accordion-inner">
					价款人：
					<ol>					
						<li>主贷人及其配偶身份证、户口薄、结婚证					
						<li>房产证、车辆行驶证等资产证明（外地房产也可计入资产）					
						<li>企业近3年年报表及近3个月月报表须附科目明细表					
						<li>公司营业执照、税务登记证、开户许可证、组织机构代码证。					
						<li>公司章程及验资报告					
						<li>近半年银行流水					
						<li>近3个月的电子报税单					
						<li>经营场所租赁合同及部分上下游客户购销合同					
						<li>担保人及其配偶身份证、户口薄、结婚证					
						<li>提供房产（担保500万需提供价值1000万以上的资产）					
						<li>公司营业执照、税务登记证、开户许可证、组织机构代码证。					
						<li>公司章程及验资报告					
						<li>近半年银行流水					
						<li>企业近3年年报及近3个月月报表须附科目明细表					
						<li>近3个月的电子报税单					
						<li>经营场所租赁合同及部分上下游客户购销合同					
					</ol>
						担保人			
					<ol>		
						<li>担保人及其配偶身份证、户口本、结婚证					
						<li>提供房产、车辆等资产证明（可以提供外地房产）					
						<li>公司营业执照、税务登记证、开户许可证、组织机构代码证、信用机构代码证（真笨复印件）					
						<li>公司章程及验资报告					
						<li>近6个月银行流水					
						<li>企业近2年年报及当期月报（月报表须附科目明细表）					
						<li>近3个月电子报税单					
						<li>经营场所租赁合同及部分上下游客户购销合同
					</ol>
				</div>
			</div>
			
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse5">
				5.广发银行—企业贷款
				</a>
			</div>
			<div id="collapse5" class="collapse">
				<div class="accordion-inner">
					<ol>
						<li>企业法人营业执照					
						<li>企业组织机构代码证					
						<li>税务登记证书					
						<li>基本账户开户许可证					
						<li>贷款卡					
						<li>法人代表身份证及自然人股东身份证复印件					
						<li>法人代表证明书					
						<li>公司章程					
						<li>最新验资报告					
						<li>近3年财务报表（已审计）					
						<li>近期财务报表及附注					
						<li>贸易合同，交易发票（过去记录）					
						<li>企业简介，产品介绍					
						<li>上、下游客户名称					
						<li>采购合同					
						<li>抵押房产证（入第三方抵押需提供第三方资料，验资报告、公司章程、法人身份证及贷款卡复印件，营业执照、代码证、税务登记证，开户许可证）
					</ol>
				</div>
			</div>
			
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse6">
				6.民生银行—商贷通
				</a>
			</div>
			<div id="collapse6" class="collapse">
				<div class="accordion-inner">
					<ol>
						<li>主贷人（及所有产权人）身份证、配偶身份证、结婚证、户口本 				
						<li>抵押房产证，二套居所房产证（期房：买卖合同）				
						<li>企业法人营业执照				
						<li>组织机构代码证				
						<li>税务登记证				
						<li>公司章程				
						<li>验资报告				
						<li>近6个月企业及个人银行对账单、纳税证明				
						<li>销售合同和采购合同各两到三份。				
						<li>个人名下房产及行驶证。
					</ol>
				</div>
			</div>
			
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse7">
				7.农商行—鑫成卡
				</a>
			</div>
			<div id="collapse7" class="collapse">
				<div class="accordion-inner">
					<ol>
						<li>鑫成卡申请表（须本人亲签并抄录声明）				
						<li>申请人有效身份证件复印件（另外个人征信报告）				
						<li>申请人工作证明（企业主可提供营业执照、贷款卡）（外加企业近3个月财务报表）（近三月企业银行对账单）				
						<li>个人的房产证、车辆行驶证				
						<li>我行要求提供的其他文件或材料				
						<li>《鑫成卡授信及领用合同》（批准后签订）				
						<li>根据担保方式不同，提供我行相关办法所规定的材料
					</ol>
				</div>
			</div>
			
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse8">
				8.农商行—助业贷
				</a>
			</div>
			<div id="collapse8" class="collapse">
				<div class="accordion-inner">
					<ol>
						<li>个人助业贷款申请书				
						<li>借款人及配偶的身份证,户口簿或其他有效身份证明原件				
						<li>借款及配偶的个人信用报告				
						<li>借款人及配偶的个人收入证明或家庭财产证明原件;				
						<li>结婚证或婚姻证明原件;				
						<li>在本行开立的个人结算账户凭证,扣款授权书和划款委托书原件;				
						<li>本行要求提供的其他文件或资料
					</ol>			
						担保人资料：
					<ol>				
						<li>房地产权证原件				
						<li>抵押人提交抵押人本人及财产共有人的有效身份证明及婚姻证明原件，抵押人为第三方自然人的，应提交抵押人及配偶有效身份证明，抵押人为第三方企业法人的，应提交该企业的经营相关材料，如营业执照、法人代码证书、企业股东签字样本及股东（董事）会或股东（董事）决议等；				
						<li>房产评估报告或询价报告				
						<li>本行要求提供的 其他文件或资料
					</ol>
				</div>
			</div>
			
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse9">
				9.浦发银行—个人经营性贷款
				</a>
			</div>
			<div id="collapse9" class="collapse">
				<div class="accordion-inner">
					<ol>
						<li>借款人及其配偶身份证、户口薄、结婚证					
						<li>学历证明					
						<li>资产证明：					
							（1）房产：提供权属证明复印件；（至少2套以上，尽可能多提供一些。其中用于抵押的房产须无其他抵押信息、无户口及其他限制信息。）				
							（2）车辆：提供车辆登记证明复印件				
							（3）股票市值：证券公司对账单原件或复印件				
							（4）存款：存满3个月以上的个人储蓄存款查询证明				
							（5）基金、理财产品、国债、信托等：相关产品合约				
							（6）其他资产证明材料				
						<li>信用情况说明					
						<li>最新年检的营业执照复印件、机构代码证整本复印件					
						<li>税务登记证复印件、开户许可证复印件					
						<li>法人身份证及所有股东身份证复印件					
						<li>最新的公司章程、最新的验资报告					
						<li>企业贷款卡正反面复印件					
						<li>企业荣誉资质证书、借款人个人简介					
						<li>还款来源证明材料：					
								（1）企业或个人主要结算银行帐户连续6个月月报			
								（2）企业前两年年度报表（如有审计报表，请提供）及近6个月月报			
								（3）去年年报和近6个月月报的会计科目主要明细：应收、其他应收、预付、存货、固定资产、应付、预收、其他应付等			
								（4）近6个月企业税单或个体工商户个人税单			
						<li>本次贷款对应的采购合同、采购订单、承包合同等贸易或服务合同及相关意向书					
						<li>公司与主要上游供应商的购销合同、订单、发票复印件（金额大的，占比大的）					
						<li>公司与主要下游客户的购销合同、订单、发票复印件（金额大的，占比大的）
					</ol>
				</div>
			</div>

			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse10">
				10.兴业银行—个人经营性贷款
				</a>
			</div>
			<div id="collapse10" class="collapse">
				<div class="accordion-inner">
					<ol>
						<li>主贷人身份证、配偶身份证、结婚证、户口本；				
						<li>抵押房产证、二套居所房产证（期房:买卖合同）；				
						<li>抵押物契税发票；				
						<li>法人个人简介；				
						<li>企业法人营业执照；				
						<li>组织机构代码证；				
						<li>税务登记证；				
						<li>公司章程；				
						<li>验资报告；				
						<li>近6个月企业银行对帐单、纳税证明；				
						<li>营业场所租约(自有房产提供房产证);				
						<li>近3个月营业场所水、电费帐单；				
						<li>上、下购销合同2-3份及往来发票；				
						<li>上月应收、应付款明细；				
						<li>贷款金额大于500万元，需提供近3年年度报表，及近期3个月报表				
						<li>收入证明				
						<li>公章、法人章				
						<li>贷款卡				
						<li>担保人夫妻双方身份证、户口本、结婚证				
						<li>担保人夫妻双方收入证明				
						<li>担保人房产证或其他资产证明
					</ol>
				</div>
			</div>
			
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse11">
				11.邮政储蓄银行—商务贷款
				</a>
			</div>
			<div id="collapse11" class="collapse">
				<div class="accordion-inner">
					<ol>
						<li>本人及配偶身份证复印件				
						<li>结婚证				
						<li>户口本（起始页到最后一页）				
						<li>车辆行驶证复印件（如有）				
						<li>房产证复印件（包括但不限于各种产权房，小产权房，宅基地房，其他省市地区房产等）				
						<li>营业执照（必须年检过）				
						<li>税务登记证				
						<li>公司章程【如为个体户，则不需】（必须加盖工商方章）				
						<li>验资报告【如为个体户，则不需】				
						<li>组织机构代码证				
						<li>挂名公司名下的房产【如有，可作资产证明】				
						<li>挂名公司名下的车辆【如有，可作资产证明】				
						<li>近一年的银行对账单（公司+个人，如有多个账号，均须提供）				
						<li>近3个月的财务报表及上年度年报（及最后一期的科目明细）				
						<li>营业场所租赁合同及已付款凭证【如自有，提供产证】				
						<li>近3个月进、销货单（包括发票和近3个月进销项汇总表和明细表）				
						<li>本年度进、销货合同或协议				
						<li>近3个月员工工资表				
						<li>最近一个月存货清单				
						<li>设备清单（大型设备须购买发票）【服务类企业无设备的提供办公设备清单】				
						<li>近3个月税单（缴费所属日期是最近3个月）				
						<li>近3个月水、电、电话、手机费账单
					</ol>
				</div>
			</div>
			
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse12">
				12.邮政储蓄银行—商务贷款
				</a>
			</div>
			<div id="collapse12" class="collapse">
				<div class="accordion-inner">
					<ol>
						<li>企业营业执照，组织机构代码证，税务登记证，开户许可证				
						<li>企业公司章程，验资报告，贷款卡				
						<li>企业主婚姻状况证明，企业主，企业主配偶及财务负责人身份证				
						<li>年度财务报告（近3年），月度财务报表（近3个月）				
						<li>近2年全年增值税与所得税纳税申报表				
						<li>近12个月企业账户流水				
						<li>近6个月电子报税付款通知单				
						<li>近6个月工资单				
						<li>近6个月专用发票汇总表及认证结果清单，进出货汇总单				
						<li>近1个月增值税专用发票（进货和销货）（可提供部分）				
						<li>近1个月企业应付款，应收款，其他应付款等明细清单				
						<li>近1个月企业成品库存，固定资产清单（附价格）				
						<li>近1年全年电费发票				
						<li>主要供应商及下游客户名单				
						<li>企业基本基本情况介绍（成立背景、发展过程、经营状况等）				
						<li>抵押物产证复印件
					</ol>
				</div>
			</div>

		</div>
	</div>
</div>